*{
	margin:0;
	padding:0;
}

body{
	background-color:#ebebeb;
}

a{
	color:white;
	text-decoration:none;
}

a:visited{
	color:white;
}

.clear{
	clear:both;
}

.link a:hover{
	font-size:2.25vw;
}

.nav{
	position:absolute;
	position:fixed;
	width:40%;
	height:100%;
	left:-30%;
	transition-duration:1s;
	transition-property:left;
	z-index:1;
}

.link{
	background-color:black;
	width:75%;
	height:100%;
}
.link li{
	text-align:right;
	color:white;
	font-family:arial;
	padding-right:5%;
	padding-top:5%;
	padding-bottom:5%;
	font-size:2vw;
}

.link li:nth-child(1){
	padding-top:40%;
}

.link a{
	transition-property:font-size;
	transition-duration:0.5s;
}
.arrow img{
	width:10%;
	transform:rotate(-90deg);
	position:absolute;
	left:75%;
	top:0%;
}

.nav:hover{
	left:0%;
}

#red{
	background-color:#ad1f1f;
	height:150px;
	width:100%;
}

#redgradient{
	height:150px;
	width:100%;
	background-image: linear-gradient(2deg, #ebebeb 50%, #ad1f1f 51%);
}

#redgradient h1{
	color:white;
	font-family:arial;
	float:right;
	padding-right:5%;
	font-size:75px;
	transform:rotate(2deg)
}

.content{
	margin:0 10%;
	font-size:1.5vw;
}

#text1{
	float:right;
	width:55%;
	font-size:1.7vw;
}

#image1{
	float:left;
	width:40%;
	border-radius:15px;
}

#image1 img{
	width:100%;
	border:5px #ad1f1f solid;
	border-radius:15px;
	box-shadow:20px 20px 0px #ba3636;
}

#text2{
	float:left;
	width:40%;
	padding-top:2.5%;
}

#image2{
	width:55%;
	float:right;
	background-color:gray;
	border-radius:15px;
}

#image2 img{
	width:100%;
	border-radius:15px;
	border:5px #ad1f1f solid;
	box-shadow:20px 20px 0px #ba3636;
}

.content3{
	margin:0 10%;
	font-size:1.7vw;
}


#image3{
	width:55%;
	padding:2% 2%;
	float:right;
	border-radius:15px;
}

#image3 img{
	width:100%;
	border-radius:15px;
	border:5px #ad1f1f solid;
	box-shadow:20px 20px 0px #ba3636;
}


footer{
	text-transform: uppercase;
	background-color:black;
	height:80px;
	width:100%;
	color:white;
	font-family:monospace;
	text-align:center;
	font-size:1vw;
}

footer,p{
	padding-top:1%;
}
