*{
	margin:0;
	padding:0;
}

body{
	background-color:#E6E6FA;
}

a{
	color:white;
	text-decoration:none;
}

a:visited{
	color:white;
}

.clear{
	clear:both;
}

.link a:hover{
	font-size:2.25vw;
}

.nav{
	position:absolute;
	position:fixed;
	width:40%;
	height:100%;
	left:-30%;
	transition-duration:1s;
	transition-property:left;
	z-index:1;
}

.link{
	background-color:black;
	width:75%;
	height:100%;
}
.link li{
	text-align:right;
	color:white;
	font-family:arial;
	padding-right:5%;
	padding-top:5%;
	padding-bottom:5%;
	font-size:2vw;
}

.link li:nth-child(1){
	padding-top:40%;
}

.link a{
	transition-property:font-size;
	transition-duration:0.5s;
}
.arrow img{
	width:10%;
	transform:rotate(-90deg);
	position:absolute;
	left:77%;
	top:5%;
}

.nav:hover{
	left:0%;
}

#purple{
	background-color:#6b1991;
	height:150px;
	width:100%;
}

#purplegradient{
	height:150px;
	width:100%;
	background-image: linear-gradient(2deg, #E6E6FA 50%, #6b1991 51%);
}

#purplegradient h1{
	color:white;
	font-family:arial;
	float:right;
	padding-right:5%;
	font-size:75px;
	transform:rotate(2deg)
}

.content{
	margin:0 10%;
	font-family:
	font-size:1.5vw;
}

#text1{
	float:right;
	width:60%;
}

#image1{
	float:left;
	width:40%;
	border-radius: 10px;
}

#image1 img {
	width: 90%;
	margin: 0;
	border-radius: 10px;
	box-shadow:10px 10px 0px #708090;
}
#text2{
	float:left;
	width:40%;
	padding-top:2.5%;
}

#image2{
	float:right;
	margin-top: 5%;
	width:55%;
	height:350px;
}

#image2 img {
	width: 110%;
	border-radius: 10px;
	box-shadow:10px 10px 0px #708090;
}
#image3{
	float:left;
	width:40%;
	border-radius: 10px;
}

#image3 img {
	width: 60%;
	margin-left: 15%;
	border-radius: 10px;
	box-shadow:10px 10px 0px #708090;
}

#image4{
	float:right;
	width:40%;
	border-radius: 10px;
}

#image4 img {
	width: 100%;
	margin:right: 15%;
	margin-bottom: 15%;
	border-radius: 10px;
	box-shadow:10px 10px 0px #708090;
}
.italics {
	font-style: italic;
	color: black;
}
footer{
	text-transform: uppercase;
	background-color:black;
	height:80px;
	width:100%;
	color:white;
	font-family:monospace;
	text-align:center;
	font-size:1vw;
}

footer,p{
	padding-top:1%;
}

#text1 {
	font-family: 'Lora', serif;
	font-size: 2em;
}

#text2 {
	font-family: 'Lora', serif;
	font-size: 2em;
}
