* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E6E6FA;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

.clear {
  clear: both;
}

.link a:hover {
  font-size: 2.25vw;
}

.nav {
  position: absolute;
  position: fixed;
  width: 40%;
  height: 100%;
  left: -30%;
  transition-duration: 1s;
  transition-property: left;
  z-index: 1;
}

.link {
  background-color: black;
  width: 75%;
  height: 100%;
}

.link li {
  text-align: right;
  color: white;
  font-family: arial;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 2vw;
}

.link li:nth-child(1) {
  padding-top: 40%;
}

.link a {
  transition-property: font-size;
  transition-duration: 0.5s;
}

.arrow img {
  width: 10%;
  transform: rotate(-90deg);
  position: absolute;
  left: 77%;
  top: 5%;
}

.nav:hover {
  left: 0%;
}

#blue {
  background-color: #375ec8;
  height: 150px;
  width: 100%;
}

#bluegradient {
  height: 150px;
  width: 100%;
  background-image: linear-gradient(2deg, #E6E6FA 50%, #375ec8 51%);
}

#bluegradient h1 {
  color: white;
  font-family: arial;
  float: right;
  padding-right: 5%;
  font-size: 75px;
  transform: rotate(2deg)
}

.content {
  font-family: arial;
  margin: 0 10%;
  font-size: 1.5vw;
}

#text1 {
  float: right;
  width: 60%;
  color: black;
  font-size: 2.0vw;
  font-family: 'Lora', serif;
}

#image1 {
  float: left;
  width: 35%;
}

#image1 img {
  border: 5px #375ec8 solid;
  border-radius: 15px;
  width: 100%;
  box-shadow: 20px 20px 0px #4682B4;
}

#text2 {
  float: left;
  width: 40%;
  padding-top: 2.5%;
  font-size: 2vw;
  color: black;
  font-family: 'Lora', serif;
}

#image2 {
  float: right;
  width: 55%;
  border-radius: 15px;
}

#image2 img {
  border: 5px #375ec8 solid;
  border-radius: 15px;
  width: 100%;
  box-shadow: 20px 20px 0px #4682B4;
}

#image3 {
  float: left;
  width: 45%;
  border-radius: 15px;
}

#image3 img {
  border: 5px #375ec8 solid;
  border-radius: 15px;
  width: 100%;
  box-shadow: 20px 20px 0px #4682B4;
}

#text3 {
  float: right;
  width: 50%;
  padding-top: 2.5%;
  font-size: 2vw;
  color: black;
  font-family: 'Lora', serif;
}

#image4 {
  float: right;
  width: 40%;
  border-radius: 15px;
}

#image4 img {
  border: 5px #375ec8 solid;
  border-radius: 15px;
  width: 100%;
  box-shadow: 20px 20px 0px #4682B4;
}

#text4 {
  float: left;
  width: 55%;
  padding-top: 2.5%;
  font-size: 2vw;
  color: black;
  font-family: 'Lora', serif;
}

footer {
  text-transform: uppercase;
  background-color: black;
  height: 80px;
  width: 100%;
  color: white;
  font-family: monospace;
  text-align: center;
  font-size: 1vw;
}

footer, p {
  padding-top: 1%;
}
